<dt {{bind-attr class='typeClass'}}>
  {{#if iconClass}}
    <span {{bind-attr class="iconClass"}} data-test="flash-icon"></span>
  {{/if}}

  <span class="hidden" data-test="flash-type">
    {{type}}
  </span>
</dt>

<dd {{bind-attr class='contentClass'}} data-test="flash-content">
  {{content}}

  {{!-- Allow block helpers --}}
  {{yield}}
</dd>

{{#unless timed}}
  <button>
    Close
  </button>
{{/unless}}
